/**********************************************************************
 * Styles.css                                                         *
 *                                                                    *
 * This file is initially empty and you can add any additional styles *
 * or modify any of the styles defined in BaseStyles.css              *
 * This file will never be overwritten.                               *
 *                                                                    *
 * For example, if you want to override just the top padding for a    *
 * menu, you can simply add the following lines:                      *
 *                                                                    *
 * .menus {                                                           *
 * 	padding-top: 20px;                                            *
 * 	}                                                             *
 *                                                                    *
 * This will keep all the other styles of the "menus" style as-is,    *
 * but modify the top padding to be 20px.                             *
 *                                                                    *
 * You can also, add a new style by just specifying it.               *
 *                                                                    *
 * .menus {                                                           *
 * 	padding-top: 20px;                                            *
 * 	text-align: center;                                           *
 * 	}                                                             *
 * 	                                                              *
 * In the above case, we added the text-align style.  This style was  *
 * not specified in the original declaration of the menus style.      *
 *                                                                    *
 **********************************************************************/
.largeText {
	color: Blue;
	font-family: 'PT Sans Narrow', Arial, Verdana, sans-serif;
	font-size: 24px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	text-align: left;
	vertical-align: top;
}

.tableCellLabel {
    color: #bbbbbb;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 2px;
    padding-top: 8px;
    text-align: right;
    text-transform: none;
    vertical-align: top;
    white-space: nowrap;
}
.dialog_header_text, .dht {
    color: #444444;
    font-family: 'Open Sans Condensed', Arial, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding-left: 10px;
    text-shadow: 0px 0px 0px #cccccc;
    text-transform: none;
    white-space: nowrap;
}
.ajax__tab_xp span.ajax__tab_tab, .ajax__tab_xp div.ajax__tab_header .ajax__tab_tab {
    background-image: none;
    color: Blue;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}


